body {
  margin: 0;
}
#game-canvas {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*.game-display {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}*/

.game-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.game-details-right, .game-details-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 180px;
  height: 120px;
  padding: 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, .75);
}

.score, .streak, .multiplier {
  font-size: 28px;
}

.game-progress  {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  color: white;
  background: rgba(0, 0, 0, .75);
}

.red {
  /*color: red;*/
}

.rock-input {
  background: transparent;
}

.rock-input::-webkit-slider-runnable-track {
  background: white;
}

.red .rock-input::-webkit-slider-runnable-track {
  background: red;
}

#song {
  display: none;
}

.game-lower-left {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.mute, .play-pause {
  width: 80px;
  height: 20px;
}

.professional-links {
  z-index: 10;
  margin-top: 20px;
  padding: 5px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, .75);
  border-radius: 5px;
}

.professional-links img {
  height: 40px;
  width: 40px;
  padding-left: 10px;
  padding-right: 10px;
  transform: translateY(2.5px);
}

.hidden {
  display: none;
}
