#game-canvas {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.game-details-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.score, .streak, .multiplier {
  font-size: 28px;
}


#song {
  display: none;
}
